*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #9fcf51;
  font-size: 10px;
  color: #d51d00;
  font-family: "Gloria Hallelujah", cursive;
}

#mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*** NAVBAR ***/

.navBar {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navContainer {
  display: flex;
}

.navText {
  font-size: 2rem;
  margin: 0 2rem;
}

.navText:hover {
  text-decoration: underline;
  transform: translateY(-0.2rem);
}

/*** FOOTER ***/

.footer {
  flex: 1;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  transition: all 0.4s;
}

a:hover {
  color: #d51d00;
  transform: scale(1.1);
}

/*** MAIN ***/

.mainSection {
  flex: 12;
}

/*** HOME ***/

.home {
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.homeTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: 0.3rem solid #d51d00;
  background-color: #f2df53;
}

.homeText {
  font-size: 1.5rem;
  /* padding-top: 1rem; */
}

.homeImg {
  margin-top: 2rem;
  border: 0.2rem solid #f2df53;
}

/*** MENU ***/

.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuTitle {
  padding: 2rem 0;
  font-size: 3rem;
}

.menuContainer {
  height: 40rem;
  width: 35rem;
  background-color: #1d1e20;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border: 0.3rem solid #d51d00;
}

.menuItem {
}

/*** CONTACT ***/

.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactTitle {
  font-size: 3rem;
  padding: 2rem 0;
}

.formContainer {
  width: 35rem;
  height: 40rem;
  border: 0.1rem solid #d51d00;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
